[submodule "vk-bootstrap"]
	path = vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap
[submodule "VulkanMemoryAllocator"]
	path = VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "stb"]
	path = stb
	url = https://github.com/nothings/stb.git
[submodule "JoltPhysics"]
	path = JoltPhysics
	url = https://github.com/jrouwe/JoltPhysics.git
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
